*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  border-top: 5px solid black;
}

body {
  width: 900px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

span, p, ul, li, div {
  font-family: "Source Sans Pro", sans-serif;
}

.resume-header {
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
}

.copy-item {
  margin-top: 30px;
}

.contact-details-list {
  list-style-type: none;
}

.main-title {
  /*font-family: 700, Lato, sans-serif;*/
  /*font-size: 30px;*/
  text-transform: uppercase;
  text-align: center;
  font: 700 23px/1.4782608695 Lato, sans-serif;
  letter-spacing: 0.05em;
  margin: 10px 0;
  text-align: center;
}

.legend-container {
  border: 1px solid lightgrey;
  margin-top: 26px;
  position: relative;
  height: 60px;
  width: 302px;
}

.legend-container h3 {
  margin-top: 0;
}

.color-key {
  color: white;
  position: absolute;
  bottom: -1px;
  width: 300px;
  padding: 0;
}

.color-key div {
  text-align: center;
  width: 100px;
}

.career-key {
  background-color: #ec6000;
}

.institution-type-in-entry {
  border: 1px solid black;
  color: white;
  position: absolute;
  letter-spacing: 2px;
  right: 10px;
  text-align: center;
  width: 150px;
}

.edu-key {
  background-color: #06662a;
}

.vol-key {
  background-color: #01a5e4;
}

.profile-pic {
  border-radius: 50%;
  height: 122px;
}

.entry-container {
  margin-bottom: 40px;
  /*border: 1px solid black;*/
  padding: 0 20px;
}

.skills-container {
  height: 800px;
  padding: 0 20px;
}

.entry-institution-name {
  display: inline;
}

.entry-self-title {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 4px;
}

.entry-sub-list-header {
  margin-top: 10px;
}

.entry-sub-list {
  margin-top: -6px;
}

.single-entry {
  /*border-bottom: 1px solid lightgrey;*/
  margin: 10px 0 30px 0;
  padding-left: 10px;
  position: relative;
}

.career-entry {
  border-left: 3px solid #ec6000;
}

.edu-entry {
  border-left: 3px solid #06662a;
}

.volunteer-entry {
  border-left: 3px solid #01a5e4;
}

.single-entry:last-of-type {
  border-bottom: none;
}

.single-entry span {
  /*float: right;*/
}

.institution-desc {
  font-size: .9em;
  /*float: left;*/
}

.institution-img {
  margin: 6px 10px 10px 10px;
  float: right;
  position: relative;
  width: 150px;
}

.attended-date {
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  color: grey;
  font-size: .9em;
}

.skills-container li {
  list-style-type: none;
  margin: 6px 0;
}

.tech-skills-section:first-child {
  margin-top: -10px;
}

.tech-skills-list,
.language-skills-list {
  margin: 16px 0 0 20px;
}

.wifi-level-img {
  margin-left: -33px;
  margin-top: 3px;
  float: left;
  height: 16px;
}

#hattori-img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  bottom: 20px;
}

#waseda-img {
  bottom: 0;
  height: 100px;
  margin-bottom: 0px;
  margin-left: 20px;
  right: 30px;
  width: 100px;
}

#bizreach-img {
  margin-top: 10px;
}

#regionup-img {
  margin-right: -2px;
  margin-left: -10px;
  width: 80px;
}

#mizzou-img {
  height: 100px;
  right: 28px;
  width: 100px;
}
